@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  /* font-family: "Merriweather", serif; */
  font-family: "Roboto";
  color: #222;
  /* background: url("../img/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.name-header {
  font-family: "Audiowide", cursive;
  font-size: 50px;
}

.count-val {
  font-size: x-large;
  font-weight: 600;
}

.count-fig {
  font-size: 40px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: 80px;
  background-color: #d3d3d3;
  text-align: center;
  line-height: 30px;
}
.headingofpage {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 200;
  color: rgb(3, 3, 3);
}

.pageHeading {
  font-family: "DM Sans", sans-serif;
  font-size: 55px;
  font-weight: 200;
  text-align: center;
  padding-top: 2rem;
  color: rgb(3, 12, 63);
}

.font-cookie {
  font-family: "DM Sans", sans-serif;
  font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0px;
}

#image.img {
  height: 100px;
  width: 100px;
}

section {
  padding-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.container-section {
  padding-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

section.oddSection {
  margin-left: 0rem;
  margin-right: 0rem;
  padding:  0 2rem 0 2rem;
  /* background-color: #f8f6f3; */
}


.footer {
  bottom: 0;
  background-color: rgb(3, 12, 63);
  color: #ffffff;
  padding-top: 0rem;
  overflow: hidden;
}

.topSection {
  padding-top: 4.8rem;
}



/* navbar css */
.navbar {
  padding: 0.8rem;
  background: -webkit-linear-gradient(
    left,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 20%,
    rgb(0, 0, 0) 20%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 250px,
    rgb(0, 0, 0) 250px
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edcd1f', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 */
}

.nav-item:hover {
  background-color:rgb(197, 197, 197) !important;
  border-radius: 23px;
}

.current {
  background-color:rgb(122, 122, 122) !important;
  border-radius: 25px;
}

.nav-item a {
  color: aquamarine;
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 23px;
  text-decoration: none;
}

.navbar-nav li {
  padding-right: 10px;
  padding-left: 10px;
}

.nav-link {
  font-size: 1.1em !important;
}

.nav-color {
  color: #fff !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  text-decoration: none;
  background-color:rgb(197, 197, 197) !important;
}

.dropdown-bg {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 25px;
}

.cd-title {
  margin-left: 20px;
  margin-top: 280px;
  margin-bottom: 16px;
}
.cd-ind-img{
  height: 260px;
}
.cd-industry {
  height: 370px;
  max-width: 370px;
  transition: color 0.9s ease;
  border-radius: 15px 15px 16px 16px;
  padding: 31px 32px 29px;
  width: 100%;
}
.cd-img-ht{
  height: 250px;
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 800px;
}

.carousel-item img {
  width: 100%;
  height: 500px;
}

.carousel-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #3e4b57 !important;
  color: white;
  text-align: justify;
}

.carousel-content p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.carousel-content h2 {
  text-align: center;
}

.carousel-content hr {
  border-top: 2px solid #ffffff;
  width: 65%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carousel-product {
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* background-color: #fff !important; */
  color: black;
  text-align: justify;
}

.carousel-product h2 {
  text-align: center;
}

.margin-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.team img {
  max-height: 10rem;
  max-width: 10rem;
  min-height: 10rem;
  min-width: 10rem;
}

tr:nth-child(even) {
  background: #c2f3ef;
}

tr:nth-child(odd) {
  background: #fff;
}
.partners .card {
  width: 300px;
}
.social a {
  font-size: 2.5em;
  padding: 1rem;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.padding-lr {
  padding-left: 2rem;
  padding-right: 2rem;
}
.padding-tb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* breadcrumb */
ol.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: white;
}

ol.breadcrumb li+li::before {
  content: ">";
}

ol.breadcrumb li a {
  color: #01447e;
  text-decoration: none;
}

ol.breadcrumb li a:hover {

  color: #e21c90;
  text-decoration: underline;
}
/* end breadcrumb */
.welcome {
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 45%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.welcome h2 {
  text-align: center !important;
}

header {
  position: relative;
  background-color: black;
  /* height: 40vw; */
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

.gal-title{
  color: #ffeb00;
  font-size: 35px;
}
.gal-btn{
  background: none;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 650;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: capitalize;
}

.icon {
  width: 110px;
  height: 110px;
  display: inline-block;
  text-align: center;
  line-height: 104px;
  border: 2px solid rgb(158, 74, 74);
  border-radius: 50%;
  background-color: rgba(114, 223, 231, 0.356);
  text-decoration: none;
  position: relative;
}

.service-item {
  text-align: center;
}

.line-dec {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.service-item h4 {
  margin-bottom: 30px;
  margin-top: 45px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.icon img {
  height: 50px;
  width: 50px;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 2.3em;
    padding: 1rem;
  }

  .name-header {
    font-family: "Audiowide", cursive;
    font-size: 45px;
  }

  .count-val {
    font-size: large;
    font-weight: 500;
  }

  .count-fig {
    font-size: 35px;
  }
  .nav-link {
    font-size: 1em !important;
  }
  header {
    height: 70vh;
    min-height: 22rem;
  }
}

@media (max-width: 768px) {
  .pageHeading {
    font-family: "Cookie", cursive;
    font-size: 45px;
    font-weight: 200;
    text-align: center;
    padding-top: 1.8rem;
    color: rgb(3, 12, 63);
  }

  .name-header {
    font-family: "Audiowide", cursive;
    font-size: 37px;
  }

  .count-val {
    font-size: medium;
    font-weight: 400;
  }

  .count-fig {
    font-size: 30px;
  }
 
  .social a {
    font-size: 2.3em;
    padding: 1rem;
  }

  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 350%;
  }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400%;
    padding-bottom: 0.2rem;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 200%;
  }

  .welcome {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .navbar {
    background: rgb(0, 0, 0) !important;
  }

  .nav-color {
    color: #fff !important;
  }

  .dropdown-bg {
    background-color: rgb(0, 0, 0) !important;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    text-decoration: none;
    background-color: rgba(227, 243, 9, 0.411);
  }
  .gal-title{
    color: #ffeb00;
    font-size: 31px;
  }
  .gal-btn{
    background: none;
    font-size: 13px;
  }
  header {
    height: 65vh;
    min-height: 19rem;
  }
}

@media (max-width: 576px) {
  .name-header {
    font-family: "Audiowide", cursive;
    font-size: 25px;
  }

  .pageHeading {
    font-family: "Cookie", cursive;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    padding-top: 1.8rem;
    color: rgb(3, 12, 63);
  }

  .count-val {
    font-size: small;
    font-weight: 300;
  }

  .social a {
    font-size: 1.5em;
    padding: .5rem;
  }

  .count-fig {
    font-size: 25px;
  }

  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 110%;
  }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  section {
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .container-section {
    padding-top: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .navbar {
    background: rgb(0, 0, 0) !important;
  }

  .nav-color {
    color: #fff !important;
  }

  .footer-txt {
    font-size: 11px;
  }
  .gal-title{
    color: #ffeb00;
    font-size: 25px;
  }
  .gal-btn{
    background: none;
    font-size: 10px;
  }
  header {
    height: 55vh;
    min-height: 17rem;
  }
}

@media (max-width: 490px) {
  .name-header {
    font-family: "Audiowide", cursive;
    font-size: 25px;
  }

  .pageHeading {
    font-family: "Cookie", cursive;
    font-size: 35px;
    font-weight: 1500;
    text-align: center;
    padding-top: 1.5rem;
    color: rgb(3, 12, 63);
  }

  .count-val {
    font-size: xx-small;
    font-weight: 300;
  }

  .count-fig {
    font-size: 20px;
  }
  .gal-title{
    color: #ff002b;
    font-size: 15px;
  }
  .gal-btn{
    background: none;
    font-size: 6px;
  }
  header {
    height: 50vh;
    min-height: 15rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 80%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('../img/3D-Experience.png');
  position: fixed;
  display: block;
  top: 120px;
  left: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
#fixed-mining {
  background-image: url('../img/mining.png');
  position: fixed;
  display: block;
  top: 120px;
  left: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}#fixed-mining2 {
  background-image: url('../img/mining2.png');
  position: fixed;
  display: block;
  top: 120px;
  left: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
#fixed-100 {
  background-image: url('../img/go-to100-days.png');
  position: fixed;
  display: block;
  top: 120px;
  left: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*********************** for the dim effect start*******************/

.wrapper {
  font-family: "Merriweather", serif;
  width: 90%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.wrapper img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 40px;
  color: #0f0f0f;
  white-space: nowrap;
  overflow: hidden;
}

.content a {
  /* font-size: 15px; */
  display: block;
  background-color: #ff771d;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.overlay {
  opacity: 0;
}

.wrapper:hover img {
  opacity: 0.5;
}

.wrapper:hover .overlay {
  opacity: 1;
}

.description {
  font-size: 30%;
  width: 90%;
  white-space: pre-wrap;
}

/*********************** for the dim effect end*******************/
.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.c-img {
  height: 200px;
  width: 300px;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .thumb {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
  }
}

.roundedCorner {
  width: 90%;
  height: 90%;
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

.circle {
  width: 250px;
  height: 250px;
  border: solid 1px #555;
  background-color: rgb(189, 189, 15);
  box-shadow: 20px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 20px -20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 20px -20px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 20px -20px rgba(0, 0, 0, 0.6);
  border-radius: 100px;
}

/* .carousel-item-background {
  background: url("../img/bg3.jpeg") no-repeat center center fixed;
  background-size: 1600px 600px;
} */

/* .bgforgreen {
  background-color: #b2fab4;
} */
/* 
.gradanimat {
  background: linear-gradient(138deg, #2b5651, #bffb6c, #97ffed);
  background-size: 600% 600%;

  -webkit-animation: gradan 29s ease infinite;
  -moz-animation: gradan 29s ease infinite;
  animation: gradan 29s ease infinite;
}

@-webkit-keyframes gradan {
  0% {
    background-position: 18% 0%;
  }

  50% {
    background-position: 83% 100%;
  }

  100% {
    background-position: 18% 0%;
  }
}

@-moz-keyframes gradan {
  0% {
    background-position: 18% 0%;
  }

  50% {
    background-position: 83% 100%;
  }

  100% {
    background-position: 18% 0%;
  }
}

@keyframes gradan {
  0% {
    background-position: 18% 0%;
  }

  50% {
    background-position: 83% 100%;
  }

  100% {
    background-position: 18% 0%;
  }
} */

.list-group-item:hover{
  background-color: rgba(176, 179, 235, 0.479);
}

.bg-info-blur {
  backdrop-filter: blur(5px);
}

.bg-info-blur:hover  {
  box-shadow: 0 12px 12px -6px #0f26a3;
  background-color: rgba(176, 179, 235, 0.479);
}
.bg-info-blur:hover + .list-group-item {
  box-shadow: 0 12px 12px -6px #0f26a3;
  background-color: rgba(176, 179, 235, 0.479);
}


.bg-info-blur-ind {
  background-color: rgba(216, 187, 187, 0.425);
  backdrop-filter: blur(5px);
}

.bg-info-blur-ind:hover {
  box-shadow: 0 12px 12px -6px #0f26a3;
  background-color: rgba(212, 154, 154, 0.425);
}
