@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Merriweather', serif;
    color: #222;
    background-image: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#image.img{
    height: 100px;
    width: 100px;
}
section {
    padding-top: 1.0rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1.0rem;
}

.container-section {
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

section.oddSection {
    margin-left: 0rem;
    margin-right: 0rem;
    background-color: #F8F6F3;
}

.topSection {
    padding-top: 6.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color: #D3D3D3;
    text-align: center;
    line-height: 30px;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.nav-color {
    color: #fff !important;
}

.nav-bg-light {
    background-color: #C6C6C6 !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #000 !important;
    text-decoration: none;
    background-color: #edcd1f;
}

.dropdown-bg {
    background-color: #000 !important;
}

.carousel-inner img {
    width: 100%;
    height: 800px;
}

.carousel-item img {
    width: 100%;
    height: 500px;
}

.carousel-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #3E4B57 !important;
    color: white;
    text-align: justify;
}

.carousel-content p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.carousel-content h2 {
    text-align: center;
}

.carousel-content hr {
    border-top: 2px solid #ffffff;
    width: 65%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-product {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* background-color: #fff !important; */
    color: black;
    text-align: justify;
}

.carousel-product h2 {
    text-align: center;
}

.margin-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.team img {
    max-height: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    min-width: 10rem;
}

tr:nth-child(even) {
    background: #C2F3EF;
}

tr:nth-child(odd) {
    background: #FFF;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #563d7c;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 45%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.welcome h2 {
    text-align: center !important;
}

.header-top {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.header-top video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;

    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.header-top .container {
    position: relative;
    z-index: 2;
}

.header-top .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 650;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: capitalize;
}

.icon {
    width: 110px;
    height: 110px;
    display: inline-block;
    text-align: center;
    line-height: 104px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #5d5d5b;
    text-decoration: none;
    position: relative;
}

.service-item {
    text-align: center;
}

.line-dec {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.service-item h4 {
    margin-bottom: 30px;
    margin-top: 45px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;

}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }

    .carousel-caption {
        top: 45%;
    }

    .carousel-caption h1 {
        font-size: 350%;
    }

    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400%;
        padding-bottom: .2rem;
    }

    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }

    .display-4 {
        font-size: 200%;
    }

    .welcome {
        width: 100%;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .navbar {
        background: #edcd1f !important;
    }

    .nav-color {
        color: #000 !important;
    }

    .dropdown-bg {
        background-color: #edcd1f !important;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        color: #000 !important;
        text-decoration: none;
        background-color: #ee1;
    }
}

@media (max-width: 576px) {
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }

    .carousel-caption {
        top: 40%;
    }

    .carousel-caption h1 {
        font-size: 250%;
    }

    .carousel-caption h3 {
        font-size: 110%;
    }

    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }

    .carousel-indicators {
        display: none;
    }

    .display-4 {
        font-size: 160%;
    }

    section {
        padding-top: .5rem;
        margin-left: .5rem;
        margin-right: .5rem;
        padding-bottom: .5rem;
    }

    .container-section {
        padding-top: .7rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .navbar {
        background: #edcd1f !important;
    }

    .nav-color {
        color: #000 !important;
    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    /*    background-image: url('img/mac.png');*/
    position: fixed;
    /*    display: block;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


.navbar {
    background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 20%, rgb(125, 185, 232) 20%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(237, 205, 31) 0%, rgb(237, 205, 31) 250px, rgb(30, 45, 59) 250px);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edcd1f', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 */

}

/*********************** for the dim effect start*******************/

.wrapper {
    font-family: 'Merriweather', serif;
    width: 90%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.wrapper img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 40px;
    color: #0f0f0f;
    white-space: nowrap;
    overflow: hidden
}

.content a {
    font-size: 15px;
    display: block;
    background-color: #ff771d;
    text-align: center;
    padding: 10px;
    cursor: pointer
}

.overlay {
    opacity: 0
}

.wrapper:hover img {
    opacity: .5
}

.wrapper:hover .overlay {
    opacity: 1
}

.description {
    font-size: 30%;
    width: 90%;
    white-space: pre-wrap;
}

/*********************** for the dim effect end*******************/
.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer {
    display: block;
}

.c-img {
    height: 200px;
    width: 300px;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width:600px) {

    .thumb {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px
    }
}
