@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.c2bg {
    border: 0px solid rgba(117, 117, 117, 1);
    background-color: rgba(237, 205, 31, 1);
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.c2[data-is-absolute-layout="true"] > .c2inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
